.popup-bg {
    position: absolute;
    z-index: 500;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: .6);
    .edit-details {
        position: absolute;
        z-index: 1000;
        top: 50%;
        left: 50%;
        width: 800px;
        height: 50%;
        overflow-y: auto;
        background: cadetblue;
        transform: translate(-50%, -50%);
    }
}