.footer {
    _border: 1px solid red;
    margin: 50px auto 40px;
    width: 900px;

    .footer-wrapper {
        display: table;
        margin: 0 auto;
        
        .separation {
            display: inline-block;
            width: 260px;
            height: 0;
            border-top: 1px solid #000;
            vertical-align: middle;
        }

        .sep-right {
            margin-right: 25px;
        }

        .sep-left {
            margin-left: 25px;
        }
    }
}