.search {
    _border: 1px solid red;
    display: flex;
    justify-content: center;
    width: 900px;
    height: 50px;
    padding: 20px 0 50px;

    input {
        border: 0;
        width: 590px;
        font-size: 22px;
        padding-left: 20px;
        padding-right: 20px;
        border-radius: 2px;
    }
}