.search {
    border: 1px solid red;
    margin: 0 auto;
    width: 900px;
    height: 120px;

    input {
        font-size: 22px;
        padding-left: 20px;
        padding-left: 20px;
        border-radius: 2px;
        margin: 30px auto;
    }
}