.notice-modal-dialog {
  width: 320px;

  .notice-modal-arrow {
    margin-top: -10px;
    margin-left: 224px;
    width: 0;
    border-right: 10px solid rgba($color: #000, $alpha: 0);
    border-bottom: 10px solid #fff;
    border-left: 10px solid rgba($color: #000, $alpha: 0);
  }

  .filter {
    height: 40px;
    background: red;
  }

  .notice-modal-body {
    height: 250px;
    padding: 0;
    overflow-y: auto;
    
    .notice-item {
      display: block;
      padding: 10px;
      cursor: pointer;
      border-bottom: 1px solid gray;
    
      img {
        vertical-align: top;
        width: 10%;
        margin-top: 2px;
        margin-right: 5px;
      }

      div {
        display: inline-block;
        width: calc(90% - 5px);

        h6 {
          margin: 0;
        }

        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin: 0;
        }
      }
    }

    .notice-new {
      background: lightgray;
    }
  }
}
