.video-details {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background: rgba(#000, .6);
    border-radius: 2px;
    .poster {
        position: relative;
        div {
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }
        .watch-later {
            top: 0;
            background: rgba(#000, .6) url("../images/details/ic_watch_later_white_24px.svg") 50% no-repeat;
        }
        .recomm {
            top: 0;
            right: 0;
            background: rgba(#000, .6) url("../images/details/ic_thumb_up_white_24px.svg") 50% no-repeat;
        }
        .edit {
            bottom: 0;
            background: rgba(#000, .6) url("../images/details/ic_edit_white_24px.svg") 50% no-repeat;
        }
    }
    .entries {
        position: relative;
        width: 260px;
        height: 268px;
        color: #f2f2f2;
        overflow: hidden;
        padding: 0 25px 0 8px;
        text-overflow: ellipsis;
        .title {
            display: block;
            font-size: 22px;
        }
        .orig-title {
            display: block;
            font-style: italic;
            margin-top: 10px;
        }
        .misc {
            display: block;
            color: #888;
            line-height: 1.5;
            font-size: 14px;
            margin-top: 15px;
        }
        .imdb {
            position: absolute;
            display: flex;
            bottom: 0;
            a {
                display: block;
                width: 68px;
                height: 32px;
            }
            .rating {
                align-self: flex-end;
                font-size: 28px;
                color: #f2f2f2;
                margin-left: 5px;
            }
            .out-of {
                align-self: flex-end;
                font-size: 16px;
                color: #888;
                margin-left: 3px;
            }
        }
    }
    .plot {
        width: 350px;
        height: 268px;
        color: #f2f2f2;
        line-height: 1.6;
        padding-right: 5px;
        overflow-y: auto;
    }
}