h1 {
    font-size: 22px;
    color: #f2f2f2;
    margin: 40px 0 20px;
}

.video-details {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    background: rgba(#000, .6);
    border-radius: 2px;
    .poster {
        position: relative;
        div {
            position: absolute;
            width: 32px;
            height: 32px;
            border-radius: 5px;
            margin: 5px;
            cursor: pointer;
        }
        ul {
            position: absolute;
            z-index: 1000;
            top: 5px;
            right: -140px;
            width: 120px;
            max-height: 200px;
            border: 1px solid #444;
            padding: 10px;
            color: #f2f2f2;
            background: rgba(#000, .8);
            overflow-x: hidden;
            overflow-y: auto;
            border-radius: 5px;
            -webkit-box-shadow: 0px 8px 15px 0px rgba(#000, 0.6);
            -moz-box-shadow: 0px 8px 15px 0px rgba(#000, 0.6);
            box-shadow: 0px 8px 15px 0px rgba(#000, 0.6);
            li {
                height: 26px;
                box-sizing: border-box;
                padding-left: 5px;
                padding-right: 5px;
                line-height: 26px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                cursor: pointer;
                &:hover {
                    background: #fff;
                    color: #000;
                    border-radius: 2px;
                }
            }
        }
    }
    .entries {
        position: relative;
        width: 260px;
        height: 268px;
        color: #f2f2f2;
        overflow: hidden;
        padding: 0 25px 0 8px;
        text-overflow: ellipsis;
        .title {
            display: block;
            font-size: 22px;
        }
        .orig-title {
            display: block;
            font-style: italic;
            margin-top: 10px;
        }
        .misc {
            display: block;
            color: #888;
            line-height: 1.5;
            font-size: 14px;
            margin-top: 15px;
        }
        .actions {
            position: absolute;
            display: flex;
            bottom: 0;
            width: 260px;
            height: 30px;
            div {
                border-radius: 5px;
                margin-right: 10px;
                cursor: pointer;
            }
            .watch-later {
                width: 30px;
                background: rgba(#717171, .6) url("../images/details/ic_watch_later_white_24px.svg") 50% no-repeat;
            }
            .recomm {
                width: 30px;
                background: rgba(#717171, .6) url("../images/details/ic_thumb_up_white_24px.svg") 50% no-repeat;
            }
            .edit {
                width: 30px;
                background: rgba(#717171, .6) url("../images/details/ic_edit_white_24px.svg") 50% no-repeat;
            }
            a {
                width: 118px;
                height: 30px;
                background: url("../images/details/subscene.png") no-repeat;
                background-size: contain;
                cursor: pointer;
            } // .rating {
            //     align-self: flex-end;
            //     font-size: 28px;
            //     color: #f2f2f2;
            //     margin-left: 5px;
            // }
            // .out-of {
            //     align-self: flex-end;
            //     font-size: 16px;
            //     color: #888;
            //     margin-left: 3px;
            // }
        }
    }
    .plot {
        width: 350px;
        height: 268px;
        .plot-txt {
            width: 350px;
            height: 200px; //268px
            color: #f2f2f2;
            line-height: 1.6;
            overflow-y: auto;
        }
        .sites {
            display: flex; // background: green;
            width: 350px;
            height: 68px;
            align-items: flex-end; // justify-content: space-between;
            a {
                display: block;
                margin-right: 10px;
            }
            .imdb {
                width: 67px;
                height: 30px;
                background: url('../images/details/imdb.svg') no-repeat;
                background-size: contain;
            }
            .mtime {
                width: 97px;
                height: 30px;
                background: url('../images/details/mtime.png') no-repeat;
                background-size: contain;
            }
            .douban {
                width: 100px;
                height: 30px;
                background: url('../images/details/douban.png') no-repeat;
                background-size: contain;
            }
        }
    }
}

.trailer {
    display: flex;
    justify-content: space-between;
    iframe {
        border-radius: 3px;
    }
}

.comment {
    width: 900px;
    margin-bottom: 30px;
    h2 {
        color: #00a651;
        font-weight: bold;
        margin-bottom: 5px;
    }
    h4 {
        color: #717171;
        font-size: 14px;
        margin-bottom: 12px;
    }
    span {
        color: #f2f2f2;
        line-height: 1.6;
    }
}

.add-comment {
    margin-bottom: 50px;
    textarea {
        min-width: 900px;
        max-width: 900px;
        height: 200px;
        min-height: 200px;
        max-height: 200px;
        box-sizing: border-box;
        padding: 10px 15px;
        color: #f2f2f2;
        font-size: 16px;
        line-height: 1.5;
        background: rgba(0, 0, 0, 0.6);
        border: 0;
        border-radius: 2px;
    }
    div {
        display: flex;
        justify-content: flex-end;
        box-sizing: border-box;
        height: 60px;
        padding: 20px 0 0;
        button {
            border: 0;
            width: 120px;
            font-size: 16px;
            margin-left: 20px;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                background: #00a651;
                color: #f2f2f2;
            }
        }
        .secondary {
            color: gray;
            background: rgba(#000, 0);
            &:hover {
                background: rgba(gray, .5);
            }
        }
    }
}

.youtube {
    display: flex;
    justify-content: flex-end;
    padding-top: 10px;
    a {
        display: block;
        height: 24px;
        padding-left: 38px;
        line-height: 24px;
        background: url("../images/details/youtube.png") no-repeat;
    }
}