.card-list {
    width: 900px;
    .card {
        display: inline-block;
        width: calc(25% - 23px);
        background: rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        padding: 10px;
        margin: 0 11.5px 45px;
        border-radius: 2px;
        @keyframes tileShadow {
            from {
                -webkit-box-shadow: none;
                -moz-box-shadow: none;
                box-shadow: none;
            }
            to {
                -webkit-box-shadow: 0px 8px 15px 0px rgba(#000, .5);
                -moz-box-shadow: 0px 8px 15px 0px rgba(#000, .5);
                box-shadow: 0px 8px 15px 0px rgba(#000, .5);
            }
        }
        img {
            width: 100%;
            // width: 182px;
            // height: 268px;
            border-radius: 2px;
            cursor: pointer;
            &:hover {
                animation-name: tileShadow;
                animation-duration: .2s;
                animation-fill-mode: forwards;
            }
        }
        .dummy-poster {
            width: 182px;
            height: 268px;
            border-radius: 2px;
        }
        .poster-new {
            background: url("../images/posters/New_2.png");
            background-size: contain;
        }
        .poster-movies {
            background: url("../images/posters/Movies.png");
            background-size: contain;
        }
        .poster-tv {
            background: url("../images/posters/TV.png");
            background-size: contain;
        }
        .poster-documentaries {
            background: url("../images/posters/Documentaries.png");
            background-size: contain;
        }
        .poster-animations {
            background: url("../images/posters/Animations.png");
            background-size: contain;
        }
        .poster-xxx {
            background: url("../images/posters/XXX.png");
            background-size: contain;
        }
        .poster-jav {
            background: url("../images/posters/JAV.png");
            background-size: contain;
        }
        h2 {
            height: 20px;
            line-height: 20px;
            color: #fff;
            margin: 5px 0 5px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
        h4 {
            font-size: 14px;
            color: #717171;
        }
    }
}