.login-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #444;
    width: 300px;
    padding: 30px;
    background: rgba(#000, .6);
    border-radius: 5px;
    box-shadow: 0px 5px 12px 0px rgba(#000, .5);
    img {
        display: block;
        margin: 0 auto;
    }
    input {
        width: calc(100% - 30px);
        height: 40px;
        border: 0;
        padding: 0 15px;
        font-size: 16px;
        font-family: OpenSans, 'Microsoft YaHei', Arial, sans-serif;
        border-radius: 2px;
        margin-bottom: 10px;
    }
}