@font-face {
  font-family: OpenSans;
  src: url("../fonts/OpenSans-Regular.ttf");
}

// HTML tags customization
html, body {
  height: 100%;
  font-family: OpenSans;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-face-color: #acacac;
  scrollbar-track-color: #d7d7d7;
  background: url("../images/login/DSC03651_login.jpg") 50% no-repeat;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 0.3em;
  height: 0.3em;
}

::-webkit-scrollbar-thumb {
  background: #acacac;
  border-radius: 3px;
}

::-webkit-scrollbar-track {
  background: #d7d7d7;
  border-radius: 3px;
}

#binger {
  _border: 1px solid green;
  height: 100%;
  display: flex;
  justify-content: center;

  // .center {
  //   _border: 1px solid green;
  //   padding: 0 59px;
  //   background-size: cover;
  // }
}

.main_bg{
  background: url("../images/login/footer_lodyas.png") repeat !important;
  // background-size: cover !important;
}

a, a:hover {
  color: #fff;
  text-decoration: none;
}

#__playground {
  height: 100%;

  #playground-wrapper {
    height: 100%;

    .navbar-brand {
      cursor: pointer;
      width: 40px;
      padding-left: 5px;
      &:focus {
        -webkit-border-radius: 50%;
        border-radius: 50%;
        background-color: rgba(0, 0, 0, 0.20);
      }
    }

    .brand-txt {
      margin-left: 3px;
      font-family: OpenSans, Arial, sans-serif;
      font-size: 20px;
    }

    .rightmost-opt {
      margin-right: 0;
    }

    .nav-opt {
      position: absolute;
      right: 10px;
      top: 60px;
    }

    #sandbox {
      height: calc(100% - 56px);

      .sandbox-lbl {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translateX(-50%);
        font-family: OpenSans, Arial, sans-serif;
        font-size: 40px;
        white-space: nowrap;
      }
    }
  }
}